header{
    background-color: #f8f9fa;
    height: 100vh;
}

.hero{
    padding: 50px;
    display: flex;
    position: relative;
}
.special{
    font-size: 42px;
    font-weight: 800;
    color: var(--secondary-color);
}

.left{
    width: 35%;
    padding-top: 80px;
}
.side-bar{
    position: absolute;
    top: -68px;
    right: 0;
    width: 400px;
    height: 100vh;
    border-bottom-left-radius: 50px;
    background-color: var(--primary-color);
    z-index: 0;
}

.plate{
    position: absolute;
    z-index: 1;
    animation: rotation 20s infinite linear;
    width: 450px;
}

.plate-1{
    top: 70px;
    right: 150px;
}

.plate-2{
    width: 200px;
}

.plate-2:nth-of-type(2){
    top: 50px;
    right: 42%;
}
.plate-2:nth-of-type(3){
    top: 220px;
    right: 50%;
}
.plate-2:nth-of-type(4){
    top: 370px;
    right: 42%;
    width: 200px;
}


/*ANIMATIONS*/
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.secondary-btn{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    transition: 0.5s;
}

.secondary-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.5s;
}

.left p{
    margin-bottom: 100px;
}

.watermark{
    text-transform: uppercase;
    /* text-align: right; */
    font-weight: 700;
    font-size: 6rem;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 38%;
    left: 0;
    opacity: 30%;
}

/*RECIPE CARDS*/
.recipe-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three equal columns */
    gap: 50px;
    margin: 100px 50px;
}

.recipe-card{
    width: 305px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

h2{
    text-align: center;
    margin-top: 30px;
}

.image{
    width: 305px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image:hover{
    background-size: 120%;
}