<header>
    <app-navbar></app-navbar>
    <div class="hero">
        <div class="left">
            <h1>Welcome to <span class="special"> RecipeBook!</span></h1>
            <p>Discover and share your favorite recipes with ease. Our RecipeBook app lets you browse a diverse collection of delicious dishes, 
                find inspiration for your next meal, and save your go-to recipes all in one place.</p>
            <a href="/recipes" class="secondary-btn hero-btn">View Recipes</a>
        </div>
        <div class="right">
            <div class="side-bar">
                <div class="watermark">RecipeBook</div>
            </div>
            <img src="boiled_eggs.png" class="plate plate-1" alt="hero">
            <img src="tortillas.png" class="plate plate-2" alt="hero">
            <img src="aesthetic_dish.png" class="plate plate-2" alt="hero">
            <img src="CHICKEN_BREAST.png" class="plate plate-2" alt="hero">
        </div>
    </div>
</header>
<main>
    <h2>Discover Our Top Dishes</h2>
    <section class="recipe-cards">
        <div *ngFor="let user of users" class="recipe-card">
            <div class="image" style="background-image: url(d93462c2-65cf-4835-9c92-6e2153ab2141.jpg);"></div>
            <h3>{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </section>
</main>
